.vs
ModifyYourModels.sln
/Core/bin/Debug/netcoreapp3.1
/Business/obj
/Business/Business.csproj
/Core/obj
/Core/Core.csproj
/Adapters/obj
/Adapters/Adapters.csproj
/API/API.csproj
/API/API.csproj.user
/API/obj
/API/Properties
/API/bin/Debug/netcoreapp3.1
/Services/bin/Debug/netcoreapp3.1
/Services/obj
/Services/Services.csproj
/Entities/bin/Debug/netcoreapp3.1
/Entities/obj
/Entities/Entities.csproj
/API/wwwroot/bundles/UpdateIPTParam.bundle/Contents
